<div class="d-flex flex-column">
  <app-avatar></app-avatar>
  <div class="sections">
    <app-side-navigation-section
      sectionName="About me"
      matIconName="person_pin"
      route="/about-me"
    ></app-side-navigation-section>
    <app-side-navigation-section
      sectionName="Skills"
      matIconName="wb_incandescent"
      route="/skills"
    ></app-side-navigation-section>
    <app-side-navigation-section
      sectionName="Experience"
      matIconName="work"
      route="/experience"
    >
    </app-side-navigation-section>
    <app-side-navigation-section
      sectionName="My client"
      matIconName="domain"
      route="/my-client"
    ></app-side-navigation-section>
    <app-side-navigation-section
      sectionName="Education"
      matIconName="school"
      route="/education"
    ></app-side-navigation-section>
  </div>
</div>
