$dp-black-0: #27272a;
$dp-black-1: #737373;
$dp-black-2: #e5e5e5;

// Fonts
$primary-font-family: "Archivo", Arial, sans-serif;

/* Bootstrap screen breakpoints */
$sm: 576px;
$xmd: 767px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Layout
$column-width: 330px;
$content-width: 800px;
