$dp-black: rgb(0, 0, 0);
$dp-black-0: #27272a;
$dp-black-1: #737373;
$dp-black-2: #e5e5e5;

$dp-white: white;
// Fonts
$primary-font-family: "Lora", serif;

/* Bootstrap screen breakpoints */
$sm: 576px;
$xmd: 767px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Layout
$column-width: 330px;
$content-width: 800px;
