@use "abstracts/variables";
@use "abstracts/mixins";

:host {
  width: 100%;
  img {
    align-self: center;
    width: 70%;
    border-radius: 50%;
    border: 1px solid variables.$dp-black-2;
  }
  p {
    color: variables.$dp-black-2;
    font-size: 2rem;
    text-align: center;
  }
  mat-divider {
    align-self: center;
    color: variables.$dp-black-2;
    width: 50%;
  }
}

// phone version
@include mixins.screen-under-sm {
  :host {
    img {
      align-self: center;
      border-radius: 50%;
      border: 1px solid variables.$dp-black-2;
    }
    p {
      color: variables.$dp-black-2;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
