@use "variables";

:host {
  width: 100%;
  img {
    align-self: center;
    width: 70%;
    border-radius: 50%;
    border: 1px solid variables.$dp-black-2;
  }
  h3 {
    color: variables.$dp-black-2;
    width: 70%;
    text-align: center;
  }
  mat-divider {
    align-self: center;
    color: variables.$dp-black-2;
    width: 50%;
  }
}
