@use "variables";
:host,
.drawer-container {
  width: 20%;
  min-height: 100%;
  position: inherit;

  mat-drawer {
    .side-panel-content {
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }
  mat-drawer-content {
    position: inherit;
  }
}

.side-panel-container {
  width: 20%;
  height: calc(100% - 50px);
  background-color: variables.$dp-black-0;
  position: fixed;
  margin-top: 50px;
}
