@use "variables";
:host,
.drawer-container {
  min-height: 100%;
  position: inherit;

  mat-drawer {
    .side-panel-content {
      height: 100%;
      width: 100%;
    }
  }
  mat-drawer-content {
    position: inherit;
  }
}

.side-panel-container {
  max-width: 17%;
  height: calc(100% - 50px);
  background-color: variables.$dp-black-0;
  margin-top: 50px;
}
