@use "abstracts/variables";
@use "abstracts/mixins";

:host {
  cursor: pointer;
  & > :hover,
  :active {
    background-color: variables.$dp-black-1;
    border-radius: 0.1rem;
    border-bottom: 0.1px solid variables.$dp-black-2;
  }
  mat-icon {
    color: variables.$dp-black-2;
    align-self: center;
  }
  .section-name {
    font-size: 20px;
    color: variables.$dp-black-2;
    padding: 0.8rem;
  }
}

//phone version
@include mixins.screen-under-sm {
  :host {
    mat-icon {
      color: variables.$dp-black-2;
      align-self: center;
      font-size: 12px;
      height: 12px;
      text-align: center;
    }
    .section-name {
      padding: 0.2rem;
      font-size: 0.8rem;
      color: variables.$dp-black-2;
    }
  }
}
