@use "variables";

:host {
  cursor: pointer;
  mat-icon {
    color: variables.$dp-black-2;
    align-self: center;
  }
  .section-name {
    font-size: 20px;
    color: variables.$dp-black-2;
  }
  & :hover,
  :active {
    background-color: variables.$dp-black-1;
    border-radius: 1rem;
  }
}
